AWS EC2 production account: 
  :provider: AWS
  :service: Compute
  :credentials: 
    :aws_access_key_id: XXXXXXXXXXXXXXXXXXXX
    :aws_secret_access_key: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  :delay: 120
  :exclude_resources:
AWS EC2 development account: 
  :provider: AWS
  :service: Compute
  :credentials: 
    :aws_access_key_id: XXXXXXXXXXXXXXXXXXXX
    :aws_secret_access_key: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  :delay: 180
  :exclude_resources:
  - :flavors
  - :images
Rackspace development account: 
  :provider: Rackspace
  :service: Compute
  :credentials: 
    :rackspace_api_key: XXXXXXXXXXXXXXXXXXXX
    :rackspace_username: XXXXXXXXX
  :delay: 180
